p {
    font-family: "Times New Roman", Times, serif;
    font-size: 14pt;
}

footer {
    font-family: "Times New Roman", Times, serif;
    font-size: 14pt;
    margin-top: 30pt;
    margin-bottom: 15pt;
    text-align: center;
}

#mention {
    font-size: 18pt;
}

content {
    text-align: center;
}

.left {
    float: left;
    width: 50%;
    text-align: left;
}

.right {
    margin-left: 50%;
    text-align: right;
}


.logo {
    width: 30%;
    max-width: 180px;
}

body {
    margin-left: 10%;
    margin-right: 10%;
}

.signature {
    width: 60%;
}